#background{
	-fx-background-image: url("file:///C:/Users/user/eclipse-workspace/quizzApp/images/background.jpeg");
    -fx-background-repeat: none;   
    -fx-background-size: 750 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#title{
	-fx-font-size: 80px;
	-fx-font-weight: bold;
	-fx-text-fill: #ff00ff;
	-fx-font-family: "Josefin Sans";
	-fx-text-alignment:center;
}

#result{
	-fx-font-size: 80px;
	-fx-font-weight: bold;
	-fx-text-fill: #ff00ff;
	-fx-font-family: "Josefin Sans";
	-fx-text-alignment:center;
}

#pick{
	-fx-font-size: 60px;
	-fx-font-weight: bold;
	-fx-text-fill: #ff00ff;
	-fx-font-family: "Josefin Sans";
	-fx-text-alignment:center;

  	
}
	


.button {
	-fx-background-color: #50E6F4;
    -fx-pref-width: 240px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #010101;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
}
.button:hover {
-fx-background-color: #010101 ;
 -fx-text-fill:#50E6F4;
}

#cancel{
	-fx-pref-width: 50px;
}

#scoreLabel{
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-family: "Josefin Sans";
	

}
#questionLabel{
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-family: "Josefin Sans";
	
}

#questionsPane{
	-fx-background-image: url("file:///C:/Users/user/eclipse-workspace/quizzApp/images/background2.jpg");
    -fx-background-size: 750 600;

}
#btn{
	-fx-padding: 360 0 0 260 ;
}